@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .grid-background {
    background-size: 50px 50px;
    background-image: linear-gradient(to right, #ffffff1a 1px, transparent 1px),
                      linear-gradient(to bottom, #ffffff1a 1px, transparent 1px);
  }

  .shadow-neo {
    box-shadow: 8px 8px 0 0 black;
  }

  .shadow-neo-dark {
    box-shadow: 8px 8px 0 0 #4A4A4A;
  }

  .hover\:shadow-neo-hover:hover {
    box-shadow: 12px 12px 0 0 black;
  }
}

/* Custom Scrollbar Neo-Brutalism Style */
::-webkit-scrollbar {
  width: 16px;
  background: #ffffff;
  border: 3px solid #000000;
}

::-webkit-scrollbar-thumb {
  background: #FF3366;
  border: 3px solid #000000;
  box-shadow: 4px 4px 0 #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff1a53;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-left: 3px solid #000000;
}

/* Untuk Firefox */
* {
  scrollbar-width: thick;
  scrollbar-color: #FF3366 #ffffff;
  cursor: none !important;
}

/* Custom Cursor */
.custom-cursor {
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid black;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  box-shadow: 2px 2px 0 black;
  transition: width 0.2s, height 0.2s, background-color 0.2s;
  will-change: transform;
  left: 0;
  top: 0;
}

/* Pointer style */
.custom-cursor.pointer {
  width: 30px;
  height: 30px;
  background: #FF3366;
  border: 2px solid white;
  box-shadow: 3px 3px 0 black;
  left: 0;
  top: 0;
}

/* Menambahkan style baru untuk hover pada elemen merah */
.custom-cursor.pointer-teal {
  background: #40E0D0 !important;
}

/* Menambahkan style baru untuk hover pada elemen teal */
.custom-cursor.pointer-red {
  background: #FF3366 !important;
}